<!--@subject {{trans "Registration confirmed for %store_name" customer_type=$customer_type store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var can_customer_sso_id":"Have Customer SSO ID",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Pg_Customer::email\/addresses.phtml' access=$access":"Addresses Details"
} @-->
<!--@styles
@-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Dear %name," name=$customer.name}}</p>
<p>{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>

<p>{{trans "You have been granted access to %store_name. Please follow the link below to access the site by using your User name and Password:" store_name=$store.getFrontendName()}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'pg_sso/saml/ssologin/',[])}}" target="_blank">{{trans "Enter %store_name" store_name=$store.getFrontendName() }}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}