<?php ?>
<p><?php echo __("Thank for using our service!");?></p>
<div class="form-actions">
    <a href="<?php echo $this->getUrl("admin/index/index");?>" class="action-primary">
        <?php echo __("Login again");?>
    </a>
</div>