<?php ?>
<?php if($this->isEnbaled()):?>
<div class="actions">
    <a class="action-login action-default" href="<?php echo $this->getUrl("pg_sso/saml/ssologin");?>">
        <?php echo $this->escapeHtml($this->getSamlText());?>
    </a>
</div>
<?php endif;?>