<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<p><?php /* @escapeNotVerified */ echo __('You have been logged out successfully and will be redirected to our Login page in 5 seconds.') ?></p>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){

        $($.mage.redirect("<?php /* @escapeNotVerified */ echo $block->getUrl() ?>", "assign", 5000));

    });
</script>
