<?php if ($block->isEnabled()) : ?>
<div class="create-account-container">
    <div class="widget-loading-button display-block form-group">
        <a href="<?=$block->getLoginUrl()?>" class="action secondary"><?=$block->getSamlText()?></a>
    </div>

    <?php if ($block->isPasswordResetEnabled()): ?>
        <div class="form-group forgot-password">
            <a href="<?php /* @escapeNotVerified */
            echo $block->getPasswordResetUrl() ?>"><span><?php /* @escapeNotVerified */
                    echo __('Forgot Your Password?') ?></span></a></div>
    <?php endif; ?>
</div>
<?php endif; ?>