<?php
/**
 * @copyright Copyright (c) 2018 Orba Sp. z o.o. (http://orba.co)
 *
 * @var \Pg\Sso\Block\Form\AdditionalField\CustomerSsoId $block
 * @var \Pg\Sso\Model\Config $config
 */
?>
<?php if ($block->getIsShowSSOIdField()): ?>
    <div class="form-group additional-field sso-field inactive">
        <input type="text" name="customer_sso_id" autocomplete="customer_sso_id" id="customer_sso_id"
               value="<?php echo $block->escapeHtml($block->getFormData()->getCustomerSsoId()) ?>"
               title="<?php echo __('Your P&G T-number') ?>" class="input-text"
               placeholder="<?php echo __('Your P&G T-number') ?>"
               data-mage-init='{"inputText": {"validClass":null, "mdLabel": true}}'
               data-validate="{required: 'true'}" disabled>
    </div>
<?php endif; ?>